@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wondering-list li {
  padding-bottom: 10px;
  font-weight: 500;
  color: rgb(68, 64, 64);
}

.sec-container {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #c026c0;
  right: 0;
}

.question {
  padding: 2px 0 2px 0;
  cursor: pointer;
  color: #c026c0;
  display: flex;
  align-items: center;
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer {
  color: #c026c0;
  cursor: pointer;
}
